<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://antareswebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>antareswebapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$antareswebapi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AntaresDBEntities3" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzureServices.Models.AntaresDBEntities3, AzureServices" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AntaresServiceContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:q0fzncyryd.database.windows.net,1433;Initial Catalog=AntaresDB;Integrated Security=False;User ID=antaresAdmin@q0fzncyryd;Password=Test1234;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AntaresServiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:q0fzncyryd.database.windows.net,1433;Database=AntaresDB;User ID=antaresAdmin@q0fzncyryd;Password=Test1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureServicesContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|AzureServicesContext-20121118163006.mdf;Initial Catalog=AzureServicesContext-20121118163006;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureServicesContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=AzureServicesContext-20121118163006; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|AzureServicesContext-20121118163006.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AntaresDBEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:q0fzncyryd.database.windows.net,1433;Initial Catalog=AntaresDB;Integrated Security=False;User ID=antaresAdmin@q0fzncyryd;Password=Test1234;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AntaresDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AntaresModels.csdl|res://*/Models.AntaresModels.ssdl|res://*/Models.AntaresModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:q0fzncyryd.database.windows.net,1433;initial catalog=AntaresDB;integrated security=False;user id=antaresAdmin@q0fzncyryd;password=Test1234;multipleactiveresultsets=True;connect timeout=30;encrypt=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AntaresDBEntities2" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:q0fzncyryd.database.windows.net,1433;Initial Catalog=AntaresDB;Integrated Security=False;User ID=antaresAdmin@q0fzncyryd;Password=Test1234;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AntaresDBEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AzureModels.csdl|res://*/Models.AzureModels.ssdl|res://*/Models.AzureModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:q0fzncyryd.database.windows.net,1433;initial catalog=AntaresDB;integrated security=False;user id=antaresAdmin@q0fzncyryd;password=Test1234;multipleactiveresultsets=True;connect timeout=30;encrypt=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AntaresService-20121007125544.mdf;Initial Catalog=aspnet-AntaresService-20121007125544;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AntaresService-20121007125544;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AntaresService-20121007125544.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AntaresDBEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:q0fzncyryd.database.windows.net,1433;Initial Catalog=AntaresDB;Integrated Security=False;User ID=antaresAdmin@q0fzncyryd;Password=Test1234;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AntaresDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AntaresModel.csdl|res://*/Models.AntaresModel.ssdl|res://*/Models.AntaresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:q0fzncyryd.database.windows.net,1433;initial catalog=AntaresDB;integrated security=False;user id=antaresAdmin@q0fzncyryd;password=Test1234;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AntaresDBEntities3-Web.config Connection String" />
  </ItemGroup>
</Project>